tmp
out-tsc
dist-server
prerender.js
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.vscode
.idea
#.scripts
.mock
.docker
server.build.js
docs
/*.log
.github
.dependabot

node_modules/.bin
node_modules/@types
node_modules/.cache
node_modules/webpack*
node_modules/rollup*
node_modules/enzyme*
node_modules/*jest*
node_modules/prettier
node_modules/*lint*
!node_modules/.bin
